<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例计算属性实现</title>
    <script type="text/javascript" src="../JS/vue.js"></script>
</head>
<body>
	<!-- 
	计算属性：
			1.定义：要用的属性本身并不存在，通过已有属性计算得来。
			2.原理：底层借助了Objcet.defineproperty方法提供的getter和setter。
			3.get函数什么时候执行？
						(1).初次读取时会执行一次。
						(2).当依赖的数据发生改变时会被再次调用。【所依赖的数据，而不是模板中的全部数据】
			4.优势：与methods实现相比，内部有缓存机制（复用），效率更高，调试方便。【主打一个缓存机制】
			5.备注：
					1.计算属性最终会出现在vm上，直接读取使用即可。
					2.如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生改变。
 -->


    <div id="root">
        <input type="text" v-model="firstName"><br><br>
        <input type="text" v-model="lastName"><br><br>
        <input type="text" v-model="test"><br><br>
        <h3>{{fullName}}</h3>
        <h3>{{fullName}}</h3>
        <h3>{{fullName}}</h3>
        <h3>{{fullName}}</h3>


    </div>
    <script type="text/javascript">
        const vm = new Vue({
            el:'#root',
            data:{
                firstName:'张',
                lastName:'三',
                test:'12'
            },
            computed: {
                fullName:{
                    //get有什么作用？当有人读取fullName时，get就会被调用，且返回值就作为fullName的值
					//get什么时候调用？1.初次读取fullName时。2.所依赖的数据发生变化时。
                    get(){
                        console.log("get方法调用了");
                        return this.firstName +'='+ this.lastName; //get方法要有return
                    },
                    //set什么时候调用? 当fullName被修改时。
                    set(value){
                        var arr = value.split('-')
                        console.log(arr);
                        //这里进行值的修改的时候，一定要注意注意this的指向问题
                        this.firstName = arr[0];//set方法要对data中的数据进行更改
                        this.lastName = arr[1];
                    }
                }
            }
        })
        
    </script>
</body>
</html>